# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/adoorback/.coverage

# misc
.DS_Store
.idea/

## Backend
# misc
/swpp-env/*
/.vscode/*
/adoorback/.coverage
/.DS_Store
/adoorback/.idea/
/adoorback/.config/uwsgi/env
/adoorback/adoorback/test/admin_setup.py

# pycache
/__pycache__/
/*/*/__pycache__/
/*/__pycache__/
/*/*/*/__pycache__/

# db
/adoorback/db.sqlite3
/adoorback/adoorback/db.sqlite3
/adoorback/feed/algorithms/question_contents.csv
/adoorback/feed/algorithms/user_contents.csv
/adoorback/feed/algorithms/recommendations.csv
/adoorback/adoor_data_export.sql

# firebase
/adoorback/adoorback/serviceAccountKey.json

# media
/adoorback/adoorback/media
/adoorback/adoorback/adoorback/media

# logging
**/error.log
**/log.django

# python
adoorback/.python-version

# Google translation
/adoorback/coherent-flame-438905-n8-31fc61ebb01c.json

# .env
/adoorback/.env.*